<form [formGroup]="form" (ngSubmit)="saveUser()">
    <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" formControlName="name" name="name">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email" name="email">
    </div>
    <div class="mb-3">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="male" formControlName="gender" value="male">
            <label class="form-check-label" for="male">
                Masculino
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="femali" formControlName="gender" value="femali">
            <label class="form-check-label" for="femali">
                Femenino
            </label>
        </div>
    </div>
    <div class="mb-3">
        <div class="form-check">
            <input class="form-check-input" type="radio" value="active" formControlName="status" name="status" id="status">
            <label class="form-check-label" for="status">
              Activo
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>